@import 'home';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import 'search';
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    .container {
        min-width: 300px;
        min-height: $min-height;
        footer {
            text-align: center;
        }
        #attribution {
            text-align: center;
            font-size: 0.3em;
        }
    }
}
