@import 'variables';
.form-container {
    padding: 1em;
    h2, .link-signin {
        text-align: center;
    }
    .form-signup {
        display: flex;
        flex-direction: column;
        width: 25%;
        min-width: 300px;
        margin: 1em auto 1em auto;
        background-color: rgb(237,238,238);
        border-radius: $softEdge;
        label, input {
            display: block;
        }
        label {
            margin-bottom: 0.1em;
        }
        .fullname-container {
            display: flex;
            .firstname-container, .lastname-container {
                flex-grow: 1;
                margin: 0.5em;
                input {
                    width: 86.7%;
                    padding: 0.5em;
                    border: 1px solid rgb(208,210,211);
                    border-radius: $softEdge;
                    &:hover {
                        border-color: rgb(157,165,170);
                    }
                }
            }
        }
        .username-container, .email-container, .password-container {
            flex-grow: 1;
            margin: 0.5em;
            input {
                width: 94%;
                padding: 0.5em;
                border: 1px solid rgb(208,210,211);
                border-radius: $softEdge;
                &:hover {
                    border-color: rgb(157,165,170);
                }
            }
        }
        .button-container {
            flex-grow: 1;
            margin: 0.5em;
            text-align: center;
            button {
                width: 99.7%;
                background: $nocturnal;
                color: white;
                border: none;
                padding: 0.5em;
                border-radius: $softEdge;
                &:hover {
                    background-color: $nocturnalLight;
                }
            }
        }
    }
}
