@import 'variables';
@import 'mixins';
.home-container {

    min-width: 300px;
    min-height: $min-height;
    .logo-container {
        position: relative;

        #logo-yellow {
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-150px);
            text-align: center;
            img {

                width: 300px;
            }
        }
        #logo-black {

            text-align: center;
            img {

                width: 300px;
            }
        }
    }
    .user-container {
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.1em;
        .greeting-wrapper, .link-wrapper {
            display: inline-block;

        }
        .greeting-wrapper {
            color: $nocturnalYellow;
        }
        a {
            color: $googleBlue;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .popUp {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 20;
        * {
            margin-top: .5em;
        }
        .info-container {
            margin-top: 0.5em;
            border-radius: $softEdge;
            z-index: 20;
            position: absolute;
            height: 300px;
            width: 350px;
            top: 20%;
            left: 50%;
            transform: translateX(-175px);
            z-index: 20;
            background-color: white;
            box-shadow: 0 0 5px gray;
            text-align: center;
            .price-category-wrapper {
                .seperator {
                    display: inline-block;
                    height: .73em;
                }
            }
            .img-wrapper {
                text-align: center;
                img {
                    height: 150px;
                }
            }
            a {
                color: $googleBlue;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .search-container {
        text-align: center;
        border-radius: $softEdge;
        .search-wrapper, .button-wrapper {
            display: inline-block;
        }
        .input-wrapper {
            box-shadow: 0 2PX 5px $softShadow;
            border-top-left-radius: $softEdge;
            border-bottom-left-radius: $softEdge;
            i.fa-search {
                line-height: 40px;
                position: absolute;
                margin-left: 0.5em;
                color: gray;
                z-index: 10;
            }
            input {
                border: 3.5px solid $nocturnalYellow;
                width: 160px;
                height: 40px;
                padding-left: 1.6em;
            }
        }
        .button-wrapper {
            .button {
                border-top-right-radius: $softEdge;
                border-bottom-right-radius: $softEdge;
                margin: auto;
                width: 40px * 0.99;
                height: 40px * 0.99;
                @include button-basics;
                box-shadow: 0 2PX 5px $softShadow;

                i.fa-spinner {
                    // line-height: 40px * 0.99;
                    color: $nocturnalYellow;
                }
                i.fa-location-arrow {
                    color: $nocturnalYellow;
                }
                &:hover {
                    box-shadow: 0 0 7px rgb(112, 166, 255);
                    .fa-location-arrow {
                        color: rgb(254,243,54);
                    }

                }
            }
        }
    }
    .g-signin2 {
        width: 200px;
        margin: auto;
        margin-bottom: 1em;
    }
    .pics-container {
        margin-top: 5em;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        height: 130px;
        &::-webkit-scrollbar {
            display: none;
        }
        .pic-wrapper {
            height: 100%;
            display: inline-block;
            &:hover {
                cursor: pointer;
            }
            img {
                height: 100%;
            }

        }
    }
}
