@import 'variables';
@import 'mixins';
.home-container {
    border: 1px solid black;
    a {
        color: rgb(113,165,255);
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .user-container {
        text-align: center;
        .greeting-wrapper, .link-wrapper {
            display: inline-block;
        }
    }
    .popUp {
        // border: 1px solid red;
        position: absolute;
        height: 200px;
        width: 200px;
        left: 50%;
        transform: translateX(-100px);
        z-index: 10;
        background-color: white;
        box-shadow: 0 0 5px gray;
        .img-wrapper {
            text-align: center;
            img {
                height: 100px;
            }
        }
    }
    .search-container {
        text-align: center;
        .search-wrapper, .button-wrapper {
            display: inline-block;
        }
        .search-wrapper {
            input {
                width: 160px;
                height: 40px;
            }
        }
        .button-wrapper {
            .button {
                margin: auto;
                width: 40px;
                height: 40px;
                // border: 1px solid black;
                @include button-basics;
                box-shadow: 0 0 1px gray;
                &:hover {
                    box-shadow: 0 0 3px gray;
                }
            }
        }
    }

    .g-signin2 {
        // border: 1px solid black;
        width: 200px;
        margin: auto;
    }
    .buttons-container, .link-wrapper, .logo-wrapper {
        text-align: center;
        margin: auto;
    }
    .buttons-container {
        display: flex;
        width: 200px;
        .button+.button {
            margin-left: .5em;
        }
        .button {
            // border: 1px solid black;
            flex-grow: 1;
            border-radius: $softEdge;
            height: 40px;
            background-color: $nocturnal;
            color: white;

            &:hover {
                background-color: $nocturnalLight;
                box-shadow: 0 0 2px gray;
            }
            @include button-basics;
        }
    }
    .pics-container {
        // border: 1px solid green;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        height: 100px;
        .pic-wrapper {
            // border: 1px solid blue;
            display: inline-block;
            &:hover {
                cursor: pointer;
            }
            img {
                height: 100px;
            }

        }
    }
}
