@import 'variables';
.search-page-container {
    .nav-container {
        .logo-container, .search-wrapper {
            display: inline-block;
        }
        .logo-container {
            margin-left: 0.5em;
            .logo-yellow {
                position: absolute;
            }
            img {
                width: 80px;
                min-width: 50px;
            }
        }
        .search-wrapper {
            width: 400px;
            min-width: 150px;
            position: absolute;
            right: 1em;
            top: 40px;
            transform: translateY(-15px);
            // border: 1px solid $yellowGray;
            input {
                padding-left: 1.6em;
                height: 35px;
                border: 4px solid $nocturnalYellow;
                width: 100%;
            }

            i.fa-search {
                line-height: 35px;
                position: absolute;
                margin-left: 0.5em;
                color: gray;
                z-index: 10;
            }
        }

    }
    .map-results-container {
        min-width: 500px;
        display: flex;
        flex-direction: row;
        .map-wrapper, .results-container {
        }
        .map-wrapper {
            flex-grow: 7;
            min-width: 350px;
            // background-color: blue
        }
        .results-container {
            // background-color: purple;
            min-width: 150px;
            overflow: scroll;
            flex-grow: 3;
            .bus-container {
                border-bottom: 2px solid $nocturnalYellow;
                border-top: 1px solid $yellowGray;
                text-align: center;
                padding: 1em 0 1em 0;
                height: 150px;
                .name-wrapper {
                    color: white;
                    font-size: 1.3em;
                    text-shadow: $textShadow;
                    margin-bottom: 1em;
                }
                .going-button {
                    color: white;
                    text-shadow: $textShadow;
                    .not-wrapper, .yet-wrapper {
                        display: inline-block;
                    }
                    .not-wrapper {
                        font-weight: 500;
                        font-size: 1.1em;
                        color: $nocturnalYellow;
                        text-shadow: $textShadow;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .signin-link-wrapper {
                    font-weight: 500;
                    font-size: 1.1em;
                    color: $nocturnalYellow;
                    text-shadow: $textShadow;
                }
            }
        }
    }
}
