@import 'variables';
.search-page-container {
    height: 100%;
    // border-color -> yellow;
    .nav-container {
        border: 2px solid white;
        background: $nocturnal;
        img {
            border: 1px solid white;
            width: 50px;
        }
    }
    .backdrop-wrapper {
        border: 2px solid yellow;
        height: 75px;
    }
    .map-results-container {
        // height: 100%;
        display: flex;
        flex-direction: row;
        border: 2px solid purple;
        .map-wrapper, .results-container {
            // display: inline-block;
            // width: 50%;
            border: 1px solid black;
            // flex-grow: 1;
            height: 100%;
        }
        .map-wrapper {
            width: 60%;
            flex-grow: 7;
        }
        .results-container {
            width: 30%;
            overflow: scroll;
            flex-grow: 3;
            .bus-container {
                .going-button {

                    border: 1px solid black;
                    .not-wrapper, .yet-wrapper {
                        display: inline-block;
                    }
                    .not-wrapper {
                        border: 1px solid $nocturnal;
                        border-radius: 5px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                border: 1px solid green;
                img {
                    width: 100px;
                }
            }
        }
    }
}
