@import 'variables';
.search-page-container {
    // height: 100%;
    // border-color -> yellow;
    .nav-container {
        border: 2px solid white;
        background: $nocturnal;
        img {
            border: 1px solid white;
            width: 50px;
            min-width: 50px;
        }
    }
    .backdrop-wrapper {
        border: 2px solid yellow;
        height: 75px;
        min-height: 75px;
    }
    .map-results-container {
        // height: 100%;
        display: flex;
        flex-direction: row;
        border: 2px solid purple;
        .map-wrapper, .results-container {
            // display: inline-block;
            // width: 50%;
            border: 1px solid black;
            // flex-grow: 1;
            // height: 100%;
        }
        .map-wrapper {
            width: 60%;
            flex-grow: 7;
        }
        .results-container {
            width: 30%;
            overflow: scroll;
            flex-grow: 3;
            &:nth-child(2n) {
                margin-top: 40px;
            }
            .search-wrapper {
                position: fixed;
                top: 125px;
                border: 3px dotted red;
                input {
                    padding-left: 1.6em;
                    height: 40px;
                    border: none;
                    // width: 100%;
                }
                // margin-bottom: 40px;
                i.fa-search {
                    line-height: 40px;
                    position: absolute;
                    margin-left: 0.5em;
                    color: gray;
                    z-index: 10;
                }
            }

            .bus-container {

                .going-button {
                    border: 1px solid black;
                    .not-wrapper, .yet-wrapper {
                        display: inline-block;
                    }
                    .not-wrapper {
                        border: 1px solid $nocturnal;
                        border-radius: 5px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                border: 1px solid green;
                img {
                    width: 100px;
                }
            }
        }
    }
}
