$nocturnal: rgb(1,8,61);
$nocturnalYellow: rgb(254,243,54);
$googleBlue: rgb(74,138,238);
$seperatorGray: rgb(230,230,230);
$softEdge: 1px;
$min-height: 630px;
$yellowGray: rgb(196,192,117);
$softShadow: rgb(202,202,202);
$textShadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
